<template>
  <div>
    <b-nav tabs>
      <b-nav-item disabled>
        <b>Fancy Quiz App</b>
      </b-nav-item>
      <b-nav-item disabled v-if="numTotal > 0">Correct: {{numCorrect}}/{{numTotal}}</b-nav-item>
      <b-button variant="primary" href="#" @click="restart">
        <font-awesome-icon icon="redo-alt" /> Restart
      </b-button>
    </b-nav>
  </div>
</template>

<script>
export default {
  props: {
    numCorrect: String,
    numTotal: String,
    restart: Function
  }
};
</script>

<style scoped>
.btn {
  right: 45px;
  position: absolute;
}
</style>