<template>
  <div class="question-box-container">
    <b-jumbotron header="Fancy Quiz App" v-if="!isStartQuiz">
      <b-button variant="primary" @click="startQuiz()">Start</b-button>
    </b-jumbotron>

    <div v-if="isStartQuiz && !isLoaded">
      <b-spinner label="Loading..."></b-spinner>
    </div>

    <b-jumbotron v-if="isStartQuiz && currentQuestion">
      <template v-slot:lead>
        <div v-html="currentQuestion.question"></div>
      </template>
      <hr class="my-4" />
      <b-list-group>
        <b-list-group-item
          v-for="(answer, index) in shuffledAnswers"
          :key="index"
          @click.prevent="selectAnswer(index)"
          :disabled="answered"
          :class="answerClass(index)"
          v-html="answer"
        ></b-list-group-item>
      </b-list-group>

      <b-button
        @click="next"
        :disabled="selectedIndex === null"
        v-if="!this.isLastQuestion"
        variant="success"
        href="#"
      >Next</b-button>
      <b-button
        class="btn-end"
        v-if="this.isLastQuestion"
        @click="endQuiz()"
        variant="outline-primary"
      >End</b-button>
    </b-jumbotron>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  props: {
    currentQuestion: Object,
    next: Function,
    increment: Function,
    isLastQuestion: Boolean,
    isLoaded: Boolean,
    fetchQuiz: Function,
    reset: Function
  },
  data() {
    return {
      selectedIndex: null,
      shuffledAnswers: [],
      answered: false,
      correctIndex: null,
      isStartQuiz: false
    };
  },
  computed: {
    answers() {
      if (this.currentQuestion) {
        let answers = [...this.currentQuestion.incorrect_answers];
        answers.push(this.currentQuestion.correct_answer);
        return answers;
      }
      return null;
    }
  },
  watch: {
    currentQuestion: {
      immediate: true,
      handler() {
        if (this.isStartQuiz) {
          this.selectedIndex = null;
          this.shuffleAnswers();
          this.answered = false;
        }
      }
    }
  },
  methods: {
    startQuiz() {
      this.isStartQuiz = true;
      this.fetchQuiz();
    },
    endQuiz() {
      this.isStartQuiz = false;
      this.reset();
    },
    selectAnswer(index) {
      this.selectedIndex = index;
      this.submitAnswer();
    },
    shuffleAnswers() {
      let answers = [
        ...this.currentQuestion.incorrect_answers,
        this.currentQuestion.correct_answer
      ];
      this.shuffledAnswers = _.shuffle(answers);
      this.correctIndex = this.shuffledAnswers.indexOf(
        this.currentQuestion.correct_answer
      );
    },
    submitAnswer() {
      let isCorrect = false;
      if (this.selectedIndex === this.correctIndex) {
        isCorrect = true;
      }
      this.answered = true;
      this.increment(isCorrect);
    },
    answerClass(index) {
      let answerClass = "";
      if (!this.answered && this.selectedIndex === index) {
        answerClass = "selected";
      } else if (this.answered && this.correctIndex === index) {
        answerClass = "correct";
      } else if (
        this.answered &&
        this.selectedIndex === index &&
        this.correctIndex !== index
      ) {
        answerClass = "incorrect";
      }

      return answerClass;
    }
  }
};
</script>

<style scoped>
.list-group {
  margin-bottom: 15px;
}

.list-group-item:hover {
  background-color: #eee;
  cursor: pointer;
}

.btn {
  margin: 0px 5px;
}

.btn-end {
  bottom: 50px;
  right: 45px;
  position: absolute;
}

.selected {
  background-color: lightblue;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightcoral;
}

.spinner-border {
  position: absolute;
  top: 200px;
}
</style>