<template>
  <div id="app">
    <Header :numCorrect="numCorrect" :numTotal="numTotal" :restart="restart" />
    <b-container class="bv-example-row">
      <b-row>
        <b-col sm="6" offset="3">
          <QuestionBox
            :currentQuestion="questions[index]"
            :next="next"
            :increment="increment"
            :isLastQuestion="isLastQuestion"
            :isLoaded="isLoaded"
            :fetchQuiz="fetchQuiz"
            :reset="reset"
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import QuestionBox from "./components/QuestionBox.vue";

export default {
  name: "app",
  components: {
    Header,
    QuestionBox
  },
  data() {
    return {
      questions: [],
      index: 0,
      numCorrect: 0,
      numTotal: 0,
      isLastQuestion: false,
      isLoaded: false
    };
  },
  methods: {
    next() {
      if (this.index < this.questions.length) {
        this.index++;
      }
      if (this.index === this.questions.length - 1) {
        this.isLastQuestion = true;
      }
    },
    increment(isCorrect) {
      if (isCorrect) {
        this.numCorrect++;
      }
    },
    fetchQuiz() {
      this.reset();
      fetch("https://opentdb.com/api.php?amount=10&category=27&type=multiple", {
        method: "get"
      })
        .then(response => {
          return response.json();
        })
        .then(jsonData => {
          this.isLoaded = true;
          this.questions = jsonData.results;
          this.numTotal = this.questions.length;
        });
    },
    reset() {
      this.questions = [];
      this.index = 0;
      this.numCorrect = 0;
      this.numTotal = 0;
      this.isLastQuestion = false;
      this.isLoaded = false;
    },
    restart() {
      this.fetchQuiz();
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
